<!-- International dropdown panel -->
<div class="countries-panel">
  <div class="panel-header">
    <h3>Select Country</h3>
  </div>
  <div class="panel-content">
    <a href="/dubai" class="country-link">
      <div class="country-item">
        <img src="/images/flags/dubai-flag.png" alt="Dubai Flag" class="country-flag" onerror="this.src='/images/flags/placeholder.png'">
        <span>Dubai</span>
      </div>
    </a>
    <!-- Additional countries can be added here -->
    <!-- Example:
    <a href="/international/country-name" class="country-link">
      <div class="country-item">
        <img src="/images/flags/country-flag.png" alt="Country Flag" class="country-flag" onerror="this.src='/images/flags/placeholder.png'">
        <span>Country Name</span>
      </div>
    </a>
    -->
  </div>
</div> 